<a [routerLink]="['product-details', product.id]" class="text-decoration-none">

  <div class="card h-100">
    <img [src]="product.thumbnail" class="card-img-top w-100 h-50" alt="..." />
    <div class="card-body">
      <!-- <i class="fa-solid fa-star" [ngStyle]="{'color': product.is_verified? 'green' : 'red' }"></i> -->
      <div class="d-flex align-items-baseline justify-content-between">
        <h5 class="card-title">{{ product.title}}</h5>

        @if (product.stock) {
          <span class="badge text-bg-success h-75">In Stock</span>
        }@else {
          <span class="badge text-bg-danger h-75">Out of Stock</span>
        }
      </div>

      <app-rating [rating]="product.rating"></app-rating>

      <p class="card-text">
        price: {{ product.price }} <br>
        rating: {{ product.rating}}
      </p>
      <a href="#" class="btn btn-primary shadow-0"> <i class="me-1 fa fa-shopping-basket"></i> Add to cart </a>
    </div>
  </div>
</a>
